practicas/practica3/Modelos/Shiporder_VenetianBlind.xml

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
       targetNamespace="http://ns.soacookbook.com/venetianblind"
       xmlns:tns="http://ns.soacookbook.com/venetianblind"
       elementFormDefault="unqualified"
       attributeFormDefault="unqualified">
<xsd:annotation>
  <xsd:documentation>
      Shiporder como esquema Venetian Blind
  </xsd:documentation>
</xsd:annotation>

<!-- Single global root element exposed -->
<xsd:element name="shiporder" type="tns:ShipOrder" />

<!-- The root is given a type that is defined here,
     using all externally defined elements.-->
<xsd:complexType name="OrderPerson">
    <xsd:sequence>
        <xsd:element name="name" type="tns:NameType"/>
        <xsd:element name="adress" type="tns:AdressType"/>
        <xsd:element name="city" type="tns:CityType"/>
        <xsd:element name="country" type="tns:CountryType" />
    </xsd:sequence>
</xsd:complexType>

<!-- Each type used by the global root is defined below, 
     and are potentially available for reuse depending on 
     the value of the 'elementFormDefault' switch 
     (use 'qualified' to expose, 'unqualified' to hide) -->
<xsd:simpleType name="NameType">
    <xsd:restriction base="xsd:string">
        <xsd:minLength value="1"/> 
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AdressType">
    <xsd:restriction base="xsd:string">
        <xsd:minLength value="1"/> 
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CityType">
    <xsd:restriction base="xsd:string">
        <xsd:enumeration value="Quito"/> 
        <xsd:enumeration value="Guayaquil"/> 
        <xsd:enumeration value="Latacunga"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CountryType">
    <xsd:restriction base="xsd:string">
        <xsd:minLength value="1"/> 
    </xsd:restriction>
</xsd:simpleType>




<xsd:complexType name="Item">
    <xsd:sequence>
        <xsd:element name="title" type="tns:TitleType"/>
        <xsd:element name="note" type="tns:NoteType"/>
        <xsd:element name="quantity" type="tns:QuantityType"/>
        <xsd:element name="price" type="tns:PriceType" />
        <xsd:element name="orderid" type="tns:OrderType" />
    </xsd:sequence>
</xsd:complexType>

<xsd:simpleType name="TitleType">
    <xsd:restriction base="xsd:string">
        <xsd:minLength value="1"/> 
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="NoteType">
    <xsd:restriction base="xsd:string">
        <xsd:minLength value="1"/> 
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="QuatityType">
    <xsd:restriction base="xsd:string">
        <xsd:enumeration value="Quito"/> 
        <xsd:enumeration value="Guayaquil"/> 
        <xsd:enumeration value="Latacunga"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="PriceType">
    <xsd:restriction base="xsd:double">
        <xsd:minLength value="1"/> 
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="OrderType">
    <xsd:restriction base="xsd:string" use="required">
        <xsd:minLength value="1"/> 
    </xsd:restriction>
</xsd:simpleType>
</xsd:schema>