practica3/Modelos/Shiporder_Russiandoll.xml

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://ns.soacookbook.com/russiandoll"
           xmlns:tns="http://ns.soacookbook.com/russiandoll"
           elementFormDefault="unqualified">
    
    
    <xsd:annotation>
      <xsd:documentation>
          Shiporder como esquema Russiandoll.
      </xsd:documentation>
    </xsd:annotation>

<xsd:element name="shiporder">
  <xsd:complexType>
    <xsd:sequence>
      <xsd:element name="orderperson" type="xs:string"/>
      <xsd:element name="shipto">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="name" type="xsd:string"/>
            <xsd:element name="address" type="xsd:string"/>
            <xsd:element name="city" type="xsd:string"/>
            <xsd:element name="country" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="item" maxOccurs="unbounded">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="title" type="xs:string"/>
            <xsd:element name="note" type="xs:string" minOccurs="0"/>
            <xsd:element name="quantity" type="xs:positiveInteger"/>
            <xsd:element name="price" type="xs:decimal"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name="orderid" type="xs:string" use="required"/>
  </xsd:complexType>
</xsd:element>

</xsd:schema>