practicas/practica2/shiporder.xml

<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified">
    
    
<xs:element name="orderperson">
<xs:complexType>
    <xs:element name="name"/>
    <xs:sequence>
        <xs:element name="shipto">
        <xs:complexType>
                <xs:sequence>
                    <xs:element name="name" type="xs:string"/>
                    <xs:element name="adress" type="xs:string"/>
                    <xs:element name="city" type="xs:string"/>
                    <xs:element name="country" type="xs:string"/>
                </xs:sequence>
        </xs:complexType>
        </xs:element>
<xs:element name="item" maxOccurs="unbounded">
        <xs:complexType mixed="true">
                <xs:sequence>
                    <xs:element name="title" type="xs:string"/>
                    <xs:element name="note" type="xs:string" minOccurs="0"/>
                    <xs:element name="quantity" type="xs:string"/>
                    <xs:element name="price" type="xs:integer"/>
                </xs:sequence>
        </xs:complexType>
</xs:element>
    </xs:sequence>
</xs:complexType>
</xs:element>
</xs:schema>

